/* Root Variables */
:root {
  --primary: #4c90ee;
  --background: #262b32;
}

/* Fonts */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/Lato.ttf");
}

/* General Reset */
body,
html {
  height: 100%;
  margin: 0;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;

  &.alt {
    height: 100%;
  }
}

/* Body */
body {
  /* Structure */
  display: flex;
  flex-direction: column;
  gap: 5px;

  /* Decals */
  background-attachment: fixed;
  background-image: url("./Background.png");
  background-repeat: no-repeat;
  background-size: cover;

  /* Inherited Defaults */
  font-family: "Lato", "Courier New", Courier, monospace;
  color: white;
}

/* Hyperlinks */
a {
  color: rgba(255, 255, 255, 0.6);
}

/* Horizontal Rule */
hr {
  width: 60%;
  height: 10px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 10px;
}

/* Filler */
.filler {
  height: 100%;
}

/* Headings */
h1 {
  align-self: center;
}

h2 {
  color: #94c1ff;
}

/* Sections */
.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  align-self: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.section.slim {
  padding: 0;
}

.section.slim h1 {
  color: var(--primary);
}

.section {
  & h2,
  h3,
  h4 {
    margin: 0;
    color: var(--primary);
  }

  & p {
    margin: 0;
  }
}

.section ol {
  margin: 0;
}

.section h2 + hr {
  background: var(--primary);
  margin: 0;
  width: 100%;
  margin-bottom: 5px;
}

.section article {
  gap: 10px;
}

/* Buttons */
button {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--background);
  border: none;
}

button span {
  color: white;
  font-size: 1.5em;
}

/* Lists */
ul {
  list-style-type: square;
  margin-top: 5px;
}

ul > li::marker {
  color: rgba(255, 255, 255, 0.6);
}

/* Floats */
.fl {
  float: left;
}

/* For Real? :D */
.fr {
  float: right;
}

/* Images */

article img {
  border-radius: 10px;
}

article img.fl {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0;
}

article img.fr {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0;
}

article img.small {
  width: 140px;
}

/* Footer */
footer {
  align-self: start;
  box-sizing: border-box;
  padding-left: 40px;
  padding-bottom: 40px;
}
